:root {
    --primario: #000000;
    --gris: #FAFAFA;
    --blanco: #FFFFFF;
    --negro: #000000;

    --fuentePrincipal: 'Poppins-Regular',sans-serif;
    --fuenteLight: 'Poppins-Light',sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/
.contenedor_main {
    width: min(92%, 128rem);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}
/** Utilidades **/
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

.header {
    height: 8rem;
    display: flex;
    flex-direction: column;
    border-bottom: 0.1rem solid var(--primario);
}

.contenedor_titulo {
    flex-basis: 35%;
}

.contenedor_titulo .titulo__header {
    font-size: 3.5rem;
    font-weight: 600;
}

.contenedor_titulo .titulo__header span{
    font-weight: 500;
}

.contenedor_titulo .titulo__header{
    font-size: 2.4rem;
    text-align: center;
}

.contenedor_navegacion{
    flex-basis: 65%;
}
.contenedor_navegacion .navegacion{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacion .navegacion__enlace {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--primario);
    margin-right: 1rem;
}

@media (min-width: 480px) {
    .header{
        height: 8rem;
        display: flex;
        border:none;
        border-bottom: 0.1rem solid var(--primario);
    }

    .contenedor_titulo .titulo__header{
        font-size: 3rem;
        text-align: left;
    }
    .navegacion .navegacion__enlace {
        font-size: 1.4rem;
    }
}

@media (min-width: 768px) {
    .header{
        height: 8rem;
        flex-wrap: wrap;
        justify-content: center;
        border-bottom: 0.1rem solid var(--primario);
    }
    .contenedor_titulo {
        flex-basis: 35%;
    }

    .contenedor_navegacion{
        flex-basis: 65%;
    }

    .contenedor_titulo .titulo__header{
        font-size: 3.4rem;
    }
    .navegacion .navegacion__enlace {
        font-size: 1.4rem;
    }
}

.contenido_carrusel {
    min-height: 80vh;
    margin-top: 2.5rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.carrusel-horizontal {
    background-color: blue;
}

.carrusel-vertical {
    background-color: blueviolet;
}

@media (min-width: 480px) {
    .contenido_carrusel {
        min-height: 40vh;
        margin-top: 3.5rem;
        grid-template-rows: unset;
        grid-template-columns: repeat(4, 1fr);
    }
    .carrusel-horizontal {
        background-color: blue;
        grid-column: 1 / 3;
    }

    .carrusel-vertical {
        background-color: blueviolet;
        grid-column: 3 / 5;
    }
}

@media (min-width: 768px) {
    .contenido_carrusel {
        min-height: 60vh;
        grid-template-columns: repeat(3, 1fr);
    }
    .carrusel-horizontal {
        background-color: blue;
        grid-column: 1 / 3;
    }

    .carrusel-vertical {
        background-color: blueviolet;
        grid-column: 3 / 4;
    }
}


.main {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}

.main article {
    border: 0.1rem solid var(--primario);
    margin-bottom: 1.5rem;
    min-height: 25rem;
    height: 100%;
    display: flex;
}


.article__div-boton {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.article__div-boton button {
    background-color: var(--primario);
    font-size: 1rem;
    color: var(--blanco);
    padding: 0.8rem 2rem;
    margin: 2rem;
}

.article__div-boton button:hover {
    background-color: var(--blanco);
    color: var(--primario);
}